<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8KgPGN_yBGwCJWPZpKRCaD8DbwEK3PD4</string>
	<key>GCM_SENDER_ID</key>
	<string>417819209289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igreja.admin</string>
	<key>PROJECT_ID</key>
	<string>igreja-app-fe3db</string>
	<key>STORAGE_BUCKET</key>
	<string>igreja-app-fe3db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417819209289:ios:68793fd7264a65fea2d998</string>
</dict>
</plist>